* {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

/* Header Section */
.header-section {
  background-image: url(./images/project.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.header-container {
  text-align: center;
  padding: 156px 250px;
}

.header-container h1 {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 65px;
  color: #ffffff;
}

.header-container p {
  color: white;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 50px;
}
.header-container a {
  text-decoration: none;
  align-items: center;
  padding: 16px 12px;
  background: #df0909;
  font-weight: 600;
  font-size: 20px;
  color: white;
  border-radius: 5px;
}

/* Donation-Limit Section */
.donation-limit-section {
  margin-top: 100px;
  margin-bottom: 130px;
}

.donation-limit-container {
  text-align: center;

  padding: 0px 300px;
}

.donation-limit-container h1 {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 20px;
}

.donation-limit-container p {
  font-weight: 400;
  font-size: 18px;
  color: #707070;
  margin-bottom: 50px;
}

.money-limit {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.money-limit .amount {
  padding: 40px 30px;
  border-radius: 5px;
  margin: 15px 10px;
  background-color: #ffeeee;
}
#amount-200tk {
  border: 2px solid #ff5959;
  color: #ff5959;
}
#amount-1000tk,
#amount-5000tk {
  padding: 40px 24px;
}
.money-limit .amount h3 {
  font-weight: 700;
  font-size: 30px;
}
.donation-limit-container input {
  font-weight: 400;
  font-size: 18px;
  color: #b3b3b3;
  border: none;
  margin-bottom: 10px;
}

.donation-limit-container hr {
  margin-bottom: 40px;
}

.donation-limit-container a {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  border-radius: 5px;
  padding: 16px 12px;
  color: #ffffff;
  background-color: #ff5959;
  margin-bottom: 50px;
}

/* Donate Plan Section */

.donate-plan-section {
  margin: 30px 0px;
}

.donate-plan-container {
  text-align: center;
  padding: 0px 200px;
  margin-bottom: 40px;
}

.donate-plan-container h1 {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 30px;
}
.donate-plan-container p {
  font-weight: 400;
  font-size: 18px;
  color: #707070;
  margin-bottom: 50px;
}
.plan-container-paragraph {
  padding: 0px px;
}

.donate-plan-catagory {
  display: flex;
  width: 100%;
  height: 100%;
}

.catagory {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  text-align: left;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
.catagory img {
  margin-bottom: 20px;
}
.catagory h2 {
  margin-bottom: 20px;
  text-align: left;
  font-weight: 600;
  font-size: 24px;
}
.catagory p {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  color: #707070;
}

#catagory-food {
  margin-right: 20px;
  background-color: rgba(79, 157, 166, 0.1);
}

#catagory-shelter {
  margin-right: 10px;
  background-color: rgba(255, 89, 89, 0.1);
}

#catagory-education {
  margin-left: 10px;
  background-color: #fff4d6;
}

/* Our Work Section */

.our-work-section {
  margin-bottom: 50px;
  background-image: url(./images/map4.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.our-work-container {
  text-align: center;
  margin-bottom: 80px;
}

.our-work-section h1{
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 45px;
  text-align: center;
}

.project-containet{
  display: flex;
  justify-content: center;
  align-items:flex-start;
  margin: 0 auto;
  padding-top: 30px;
  margin-bottom: 50px;
}

.project {
  background-color: white;
  width: 25%;
  box-shadow: 2px 2px 15px 15px #e5dede;
  text-align: center;
  border-radius: 10px;
  padding-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.project img {
  width: 50%;
  height: 30%;
  border-radius: 10px;
  margin-left: 25px;
  margin-bottom: 20px;
}

.project h3, .project p{
  margin-bottom: 20px;
  padding: 0px 20px;
}

.our-work-container a{
  text-decoration: none;
  padding: 15px 30px;
  background: linear-gradient(#352020, #f0f0e7);
  box-shadow: 2px 2px 15px 15px #cabbbb;
  font-weight: 900;
  color: rgb(16, 1, 1);
  font-size: 20px;
  border: 1px solid black;
  border-radius: 15px;
}

/* Update Section */

.update-section {
  margin-bottom: 50px;
}
.update-container {
  text-align: center;
  padding: 0px 300px;
}

.update-container h1 {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 45px;
}

.update-container p {
  font-weight: 400;
  font-size: 18px;
  color: #707070;
  margin-bottom: 50px;
}
.input-container {
  width: 100%;
  height: 180px;
  background-color: #fff4d6;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container input {
  width: 275px;
  font-weight: 500;
  font-size: 16px;
  background: #d9d9d9;
  border-radius: 5px;
  border: none;
  padding: 15px 0px;
  padding-left: 10px;
}

.input-container a {
  text-decoration: none;
  padding: 15px 10px;
  font-weight: 500;
  font-size: 16px;
  color: white;
  background-color: #ff5959;
  border-radius: 5px;
}

/* Footer Section */

footer {
  background-color: black;
}
.footer-section {
  width: 100%;
  padding: 60px 0px;
  text-align: center;
  color: white;
}

.footer-section h1 {
  font-weight: 400;
  font-size: 36px;
  color: #ff5959;
  margin-bottom: 20px;
}

.footer-section p {
  font-weight: 400;
  font-size: 14px;
  color: #d9dbe1; 
  
}  


